<main class="content">
  <h1 class="mb-4">Angular Electron Timer</h1>
  <br /><br />

  <div class="progress-wrapper" *ngIf="maxVal">
    <div class="text" *ngIf="!isFinished">
      <h3>
        {{ max - current | number: "1.1-1" }}
      </h3>
    </div>

    <div class="text" *ngIf="isFinished">
      <h3>Yoo!</h3>
      <audio src="assets/chime.mp3" autoplay></audio>
    </div>

    <round-progress
      [max]="maxVal"
      [current]="currentVal"
      [radius]="100"
      [stroke]="25"
    >
    </round-progress>
  </div>

  <br />

  <div class="controls-wrapper">
    <div class="mb-5">
      <label>Seconds</label>
      <input
        width="50px"
        class="input is-medium"
        placeholder="number of seconds"
        type="text"
        [(ngModel)]="max"
        (keydown)="reset()"
      />
    </div>

    <button
      class="button is-info is-medium mr-4"
      *ngIf="currentVal <= 0"
      (click)="start()"
    >
      Start
    </button>
    <button
      class="button is-danger is-medium"
      *ngIf="!isFinished"
      (click)="finish()"
    >
      Finish
    </button>
  </div>
</main>
